.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  width: 960px;
  height: 960px;
}

.grid {
  border: 1px solid blue;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
}
